openapi: 3.1.0

info:
  title: Parmana Trust Core API
  version: 0.4.0
  description: |
    Parmana prevents unauthorized autonomous actions.

    Parmana verifies human-defined authority and
    organizational policy before autonomous systems act.

  license:
  name: Apache License 2.0
  url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.parmana.ai

security:
  - bearerAuth: []

tags:
  - name: Attestation
    description: Decision attestation APIs

  - name: Verification
    description: Verification receipt APIs

  - name: Execution
    description: Execution authorization and execution APIs

  - name: Override
    description: Override authority workflows

  - name: Trust Chain
    description: Trust chain retrieval APIs

  - name: System
    description: Operational endpoints

paths:

  /health:
    get:
      operationId: healthCheck
      security: []
      tags:
        - System
      summary: Health check
      responses:
  "200":
    description: Service healthy

  "404":
    description: Endpoint not found

  /version:
    get:
      operationId: getVersion
      security: []
      tags:
        - System

      summary: Service version

      responses:

        "200":
          description: Version information

        "404":
          description: Endpoint not found
  /attest:
    post:
      operationId: createAttestation
      tags:
        - Attestation
      summary: Create decision attestation

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttestRequest"

            responses:

        "200":
          description: Decision attestation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionAttestation"

        "400":
          description: Invalid attestation request

  /verify:
    post:
      operationId: verifyAttestation

      tags:
        - Verification
      summary: Verify decision attestation

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyRequest"

      responses:
  "200":
    description: Verification receipt
    content:
      application/json:
        schema:
          $ref: "#/components/schemas/VerificationReceipt"

  "400":
    description: Verification failed

  /token:
    post:
      operationId: createExecutionToken
      tags:
        - Execution
      summary: Create execution token

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object

              required:
                - receiptId

              properties:
                receiptId:
                  type: string

      responses:
  "200":
    description: Execution token
    content:
      application/json:
        schema:
          $ref: "#/components/schemas/ExecutionToken"

  "404":
    description: Receipt not found

  /execute:
    post:
      operationId: recordExecution
      tags:
        - Execution
      summary: Record execution

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteRequest"

      responses:
  "200":
    description: Execution record
    content:
      application/json:
        schema:
          $ref: "#/components/schemas/ExecutionRecord"

  "400":
    description: Invalid execution request

  "403":
    description: Invalid execution token

  "404":
    description: Receipt not found

  /override:
    post:
      operationId: createOverrideDecision
      tags:
        - Override
      summary: Create override decision

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OverrideDecision"

      responses:
  "200":
    description: Override decision

  "400":
    description: Invalid override request

  /override/attest:
    post:
      operationId: createOverrideAttestation
      tags:
        - Override
      summary: Create override attestation

      responses:
  "200":
    description: Override attestation

  "400":
    description: Invalid override attestation request

  /override/verify:
    post:
      operationId: verifyOverrideAttestation
      tags:
        - Override
      summary: Verify override attestation

      responses:
  "200":
    description: Override verification receipt

  "400":
    description: Invalid override verification request

  /trust-chain/{businessTransactionId}:
    get:
      operationId: getTrustChain

      tags:
        - Trust Chain

      summary: Retrieve execution trust chain

      parameters:
        - name: businessTransactionId
          in: path
          required: true
          schema:
            type: string

      responses:
  "200":
    description: Trust chain
    content:
      application/json:
        schema:
          $ref: "#/components/schemas/TrustChain"

  "404":
    description: Trust chain not found

components:

  securitySchemes:

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    AttestRequest:
      type: object

      required:
        - task
        - signals

      properties:

        task:
          type: string

        signals:
          type: object

    VerifyRequest:
      type: object

      required:
        - attestation
        - policy

      properties:

        attestation:
          $ref: "#/components/schemas/DecisionAttestation"

        policy:
          $ref: "#/components/schemas/TrustPolicy"

    TrustPolicy:
      type: object

      required:
        - policyId
        - policyVersion
        - requiredAlgorithms

      properties:

        policyId:
          type: string

        policyVersion:
          type: string

        requiredAlgorithms:
          type: array

          items:
            type: string

    Signature:
      type: object

      properties:

        algorithm:
          type: string

        keyId:
          type: string

        value:
          type: string

        createdAt:
          type: string
          format: date-time

    SignatureSet:
      type: object

      properties:

        signatures:
          type: array

          items:
            $ref: "#/components/schemas/Signature"

    EvidenceRecord:
      type: object

      properties:

        id:
          type: string

        hash:
          type: string

        hashAlgorithm:
          type: string

    DecisionAttestation:
      type: object

      properties:

        schemaVersion:
          type: string

        decisionId:
          type: string

        businessTransactionId:
          type: string

        subjectId:
          type: string

        taskId:
          type: string

        policyId:
          type: string

        policyVersion:
          type: string

        evidence:
          type: array

          items:
            $ref: "#/components/schemas/EvidenceRecord"

        signatures:
          $ref: "#/components/schemas/SignatureSet"

        metadata:
          type: object

        outcome:
          type: object

    VerificationReceipt:
      type: object

      properties:

        receiptId:
          type: string

        businessTransactionId:
          type: string

        subjectId:
          type: string

        decisionId:
          type: string

        taskId:
          type: string

        policyId:
          type: string

        policyVersion:
          type: string

        valid:
          type: boolean

        verifiedAlgorithms:
          type: array

          items:
            type: string

        failedAlgorithms:
          type: array

          items:
            type: string

        receiptHash:
          type: string

        verifiedAt:
          type: string
          format: date-time

    ExecutionToken:
      type: object

      properties:

        tokenId:
          type: string

        businessTransactionId:
          type: string

        decisionId:
          type: string

        receiptId:
          type: string

        taskId:
          type: string

        policyId:
          type: string

        policyVersion:
          type: string

        issuedAt:
          type: string
          format: date-time

        expiresAt:
          type: string
          format: date-time

        signature:
          type: string

    ExecuteRequest:
      type: object

      required:
        - executionToken
        - executionSystem
        - executionReference

      properties:

        executionToken:
          $ref: "#/components/schemas/ExecutionToken"

        executionSystem:
          type: string

        executionReference:
          type: string

    ExecutionRecord:
      type: object

      properties:

        executionId:
          type: string

        businessTransactionId:
          type: string

        subjectId:
          type: string

        decisionId:
          type: string

        receiptId:
          type: string

        taskId:
          type: string

        policyId:
          type: string

        policyVersion:
          type: string

        executionSystem:
          type: string

        executionReference:
          type: string

        executionStatus:
          type: string

        executedAt:
          type: string
          format: date-time

    OverrideDecision:
      type: object

      properties:

        decisionId:
          type: string

        businessTransactionId:
          type: string

        taskId:
          type: string

        policyId:
          type: string

        policyVersion:
          type: string

        overrideSubjectId:
          type: string

        overrideAction:
          type: string

        overrideReason:
          type: string

    TrustChain:
      type: object

      properties:

        attestation:
          $ref: "#/components/schemas/DecisionAttestation"

        receipt:
          $ref: "#/components/schemas/VerificationReceipt"

        token:
          $ref: "#/components/schemas/ExecutionToken"

        execution:
          $ref: "#/components/schemas/ExecutionRecord"